body {
    font-family: "Oxanium", cursive;
    margin: 0;
}

button:active,
button:focus {
    outline: none;
}

.landing-top-left {
    background-image: url("../images/landing-page-dish.jpg");
    width: 50%;
    min-height: 100vh;
    position: relative;
}

.landing-top-right {
    background-image: linear-gradient(to top, rgb(7, 116, 4) 0%, #51b73b);
    width: 50%;
    min-height: 100vh;
    position: relative;
}

.landing-container-top .landing-child {
    display: inline-block;
}

h2 {
    font-size: 2.2rem;
}

h1 {
    font-size: 32px;
}

.h1-landing {
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.registrationForm,
.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.registrationForm input,
.loginForm input,
.modalForm input,
.modalForm textarea,
.modalForm select {
    display: block;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.modalForm input:not(:last-of-type),
.modalForm textarea,
.modalForm select {
    text-align: left;
}

.registertitle,
.logintitle {
    text-align: center;
}

.modaltitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.modalForm textarea,
.modalForm select {
    height: 30px;
    width: 205px;
}

.modalForm textarea {
    max-width: 202px;
    min-width: 202px;
    max-height: 100px;
}

.registrationForm input:not(:last-of-type),
.loginForm input:not(:last-of-type),
.modalForm input:not(:last-of-type) {
    height: 30px;
    width: 200px;
}

.registrationForm input:not(:first-of-type),
.loginForm input:not(:first-of-type) {
    margin-top: 20px;
}

.css-2b097c-container {
    max-width: 205px;
    font-size: 1.2rem;
    margin: 0 auto;
}

.css-g1d714-ValueContainer {
    height: 30px;
}

.registerButton,
.loginButton,
.modalButton,
.comment-form button {
    margin: 0 auto;
    width: 110px;
    background-color: #c9662e;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.loginRegistration {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

a.loginLink {
    color: white;
}

.error {
    margin-top: 20px;
    color: red;
    text-align: center;
}

.h1-cooks {
    margin-top: 0;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to top, rgb(7, 116, 4) 0%, #51b73b);
    position: fixed;
    z-index: 1;
}

.cook-link {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.landingButton {
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.landing-text {
    color: white;
    font-size: 1.2rem;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(81, 183, 59, 0.7);
}

.my-cooks-container {
    background-image: url("../images/my-cooks-header.jpg");
    background-attachment: fixed;
    background-position: left;
    width: 100%;
    height: 300px;
    position: relative;
}

.my-cooks-container-child {
    width: 70%;
    height: 100vh;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 300px;
    position: relative;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to top, rgb(7, 116, 4) 0%, #51b73b);
    color: white;
    padding: 10px 10px 10px 15px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 1.2rem;
}

.profile-login-link {
    color: white;
    width: 150px;
}

.profile-name {
    padding-right: 10px;
}

.fa-angle-double-left,
.fa-angle-double-right {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    font-size: 20px;
    color: rgb(0, 17, 255);
}

.showModalButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.label-container span {
    border-top: 1px solid white;
    font-size: 16px;
    padding-right: 5px;
}

.modalForm input:last-of-type {
    margin-top: 30px;
}

.modalForm {
    overflow-y: scroll;
    padding-left: 30px;
    height: 680px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.my-cook {
    display: block;
    border-top: 1px solid lightgrey;
    padding: 30px 0 30px 0;
    color: rgb(119, 119, 119);
}

.my-cook:first-of-type {
    margin-top: 40px;
    border-top: none;
}

.profilePic-screen {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: none;
    color: transparent;
}

.profilePic-screen:focus {
    outline: none;
}

.profileName-screen {
    display: block;
    font-weight: 800;
    font-size: 20px;
    color: #c9662e;
}

.inline {
    display: inline-block;
    height: 150px;
}

.inline:first-of-type {
    vertical-align: top;
}

.inline:last-of-type {
    margin-left: 30px;
}

.inline-selects span:not(:first-of-type) {
    margin-left: 30px;
}

.inline-selects .select {
    display: inline-block;
}

.cancel {
    cursor: pointer;
}

.my-cook-big {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgb(7, 116, 4) 0%, #51b73b);
    width: 100%;
    min-height: 200px;
    padding: 20px;
    color: white;
}

.my-cook-big .select {
    color: white;
}

.my-cook-big-text {
    text-align: left;
}

.profilePic-screen-big {
    height: 200px;
    width: 200px;
    object-fit: cover;
    color: transparent;
}

.profileName-screen-big {
    color: rgb(255 222 19);
    font-weight: 800;
    font-size: 26px;
}

.fa-angle-double-down {
    color: rgb(0, 17, 255);
    font-size: 28px;
    position: absolute;
    left: 94%;
    top: 8%;
    cursor: pointer;
}

.my-cook:hover {
    background-color: #f0f0f0;
}

input[type="file"] {
    display: none;
}

.upload-button {
    background-color: rgb(0, 17, 255);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: none;
}

.select-images {
    background-color: white;
    color: rgb(0, 17, 255);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: none;
}

.uploader-modal {
    margin-top: 20px;
}

.uploader-modal .upload-buttons {
    display: inline-block;
    font-family: "Oxanium", cursive;
}

.uploader-modal :first-child {
    border-top-left-radius: 5px;
}

.uploader-modal :last-child {
    border-bottom-right-radius: 5px;
}

.upload-buttons-container {
    margin-top: 10px;
}

.uploader-modal {
    text-align: center;
}

.image-galery .imageGalery-image {
    display: inline-block;
    color: transparent;
}

.imageGalery-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: none;
    color: transparent;
}

.inline-image-galery {
    vertical-align: top;
}

.comment-form {
    position: fixed;
    transform: translate(-50%);
    height: 200px;
    width: 300px;
    background-image: linear-gradient(to top, rgb(7, 116, 4) 0%, #51b73b);
    left: 82%;
    top: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.comment-form textarea {
    width: 200px;
    height: 100px;
}

.comment-form button {
    margin: 0 auto;
    background-color: #c9662e;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}

/* .comment-form p {
    overflow-y: scroll;
    height: 50px;
} */
